/* colors */
:root{
  --gray-1: #333333;
  --gray-2: #4F4F4F;
  --gray-3: #828282;
  --gray-4: #BDBDBD;
  --gray-5: #E0E0E0;
  --gray-6: #F2F2F2;
  --dark-blue: #100E1D;
  --blue: #2D9CDB;
  --red: #EB5757;
  --green: #27AE60;
  --white: #FFFFFF;
}
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Poppins', sans-serif;
}
h1, h2{
  font-weight: 500;
  color: var(--gray-1);
}
h1{
  font-size: 48px;
}
h2{
  font-size: 36px;
}
a{
  text-decoration: none;
}
.logo{
  font-family: 'Heebo', sans-serif;
  font-size: 36px;
}
.hamburguer{
  display: none;
}

/* header styles */
header{
  padding: 3% 5%;
}
header, ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
ul{
  list-style: none;
  flex-wrap: wrap;
}
header ul li a{
  color: var(--gray-1);
  font-size: 24px;
}
header .logo{
  color: var(--gray-1);
}
/* home styles */
main{
  padding: 3% 5%;
}
.home,
.home-title,
.home-description{
  display: flex;
  flex-direction: column;
}
.home{
  font-size: 18px;
  color: var(--gray-2);
  gap: 45px;
  margin: 5% 0;
}
.home-title{
  margin-left: 14%;
  gap: 15px;
  max-width: 543px;
}
.home-description{
  margin-left: 14%;
  max-width: 366px;
  gap: 35px;
}
.home .question{
  color: var(--blue);
}
.home .contact-form{
  color: var(--gray-3);
}
.home img{
  max-width: 100%;
  border-radius: 18px;
  box-sizing: border-box;
}
/* contact form styles */
.contact-form{
  max-width: 350px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.contact-input{
  background-color: var(--gray-6);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.contact-input input{
  background: none;
  border: none;
  outline: none;
  padding-left: 20px;
  font-size: 18px;
}
.contact-input input::placeholder{
  color: var(--gray-4);
}
.contact-input button{
  color: var(--white);
  background-color: var(--blue);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  padding: 11px 27.5px;
  font-size: 18px;
}
/* services styles */
.services{
  margin: 10% 5%;
}
.services h2{
  max-width: 346px;
  margin-bottom: 40px;
}
.contain-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}
.service-card{
  border-radius: 24px;
  max-width: 341px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  padding: 34px;
  color: var(--gray-2);
  font-size: 16px;
  box-sizing: border-box;
}
.service-card:hover{
  box-shadow: 0px 10px 30px 0px #3333331A;
}
.service-card .title{
  color: var(--gray-1);
  font-size: 24px;
  font-weight: 700;
}
.service-card .background-icon{
  width: 67px;
  height: 67px;
  padding: 15px;
  border-radius: 16px;
  box-sizing: border-box;
}
.service-card .icon{
  font-size: 36px;
  color: var(--white);
}
.design{
  background-color: var(--blue);
}
.frontend{
  background-color: var(--green);
}
.backend{
  background-color: var(--red);
}
.service-card button{
  background-color: var(--gray-5);
  border: none;
  border-radius: 12px;
  outline: none;
  padding: 9px 12.5px;
  font-size: 16px;
  color: var(--gray-3);
  cursor: pointer;
}
.service-card button:hover{
  background-color: var(--blue);
  color: var(--white);
}
/* our works styles */
.our-works{
  margin: 10% 5%;
}
.our-works h2{
  max-width: 448px;
}
.our-works .gallery{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5%;
  height: auto;
  box-sizing: border-box;
}
.work-card:nth-child(2n - 1){
  margin-top: 200px;
}
.work-card{
  gap: 12px;
  color: var(--gray-1);
  font-size: 24px;
  font-weight: 500;
}
.work-card img{
  border-radius: 24px;
  margin-bottom: 15px;
  width: 100%;
}
.work-type{
  font-size: 14px;
  color: var(--gray-3);
  font-weight: 300;
  margin-bottom: 5px;
}
.see-more{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  color: var(--blue);
  font-size: 24px;
}
.see-more a{
  color: var(--blue);
}
/* team styles */
.team{
  margin: 10% 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.team-information{
  max-width: 280px;
  color: var(--gray-2);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.team-images{
  max-width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4%;
  align-items: center;
}
.team-images img{
  border-radius: 24px;
}
.margin{
  margin-bottom: 6%;
}
.subtitle{
  color: var(--red);
  font-size: 18px;
}
/* clients styles */
.clients{
  margin-left: 5%;
  max-width: 75%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.client{
  display: flex;
  gap: 25px;
}
.client img{
  width: 82px;
  border-radius: 10px;
}
.client-information{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--gray-3);
  font-size: 18px;
}
.client-information .name{
  color: var(--gray-1);
  font-size: 24px;
  font-weight: 500;
}
/* footer styles */
footer{
  padding: 5% 10% 2% 10%;
  background-color: var(--dark-blue);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 90px;
}
.contact{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
footer ul{
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
footer ul li{
  margin: 0;
}
footer ul li a{
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
}
footer .logo{
  margin-bottom: 15px;
}
.social-media .icons{
  display: flex;
  gap: 10px;
}
footer > p{
  font-family: 'Montserrat', sans-serif;
}
footer a{
  color: var(--white);
  font-weight: 700;
}
footer a:hover{
  color: var(--blue);
}